.App {
  text-align: center;
}
h4 {
  color: rgb(199, 140, 30);
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
}
p {
  font-weight: bold;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
}
